.container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}
.pokemonListContainer{
    display:flex;
    flex-wrap: wrap;
    position:absolute;
    left:320px;
    top: 150px;
}
@media (max-width:1060px){
    .pokemonListContainer{
        top: 300px;
    }
}
.searchContainerResponsive{
    display: none;
    width: 100%;
}
.filterContainerResponsive{
    display: none;
    width: 100%;
}
.appBar{
    height: 50px;
    top:0px;
    width: 100%;
    background-color: rgb(160, 64, 160);
}
@media (max-width:800px){
    .pokemonListContainer{
        left:10px;
    }
    .searchContainerResponsive{
        display:block;
        top: 200px;
        margin-left:15px;
        margin-right:15px;
    }
    .filterContainerResponsive{
        display:flex;
    }
}
