.container{

}
.header{
    text-transform: capitalize;
    width:100%;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
}
.generalInfo{
    position: relative;
}
.listContainer{
    text-transform: capitalize;
}
.number{
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    right:20px;
    margin-top:10px;
    margin-top:10px;
}
.imagesContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.typeContainer{
    display: flex;
    flex-flow: row;
    margin-left:20px;
    margin-bottom:20px;
}
.typeInfo{
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    margin-right:10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evolutionContainer{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.evolutionHeader{
    font-size: 25px;
    color: #fff;
    height: 30px;
    padding: 20px;
}
.evolutionContent{
    height: 180px;
    margin-top: 20px;
    position:relative;
    text-transform: capitalize;
}
.evolutionLoaded{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.pokemonChain{
    background-color: rgba(0,0,0,0.05);
    height: 40px;
    width: 100px;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.pokemonChainContainer{
    display:flex;
    align-items: center;
}
