.container{
    position:absolute;
    left:330px;
    top: 70px;
    display: flex;
    align-items: center;
}

@media (max-width:1060px){
    .container{
        top: 200px;
    }
}
@media (max-width:800px){
    .container{
        left:10px;
        top: 250px;
    }

}
